* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iranyekan";
  list-style: none;
  text-align: right;
}

/*  VARIABLES : */
:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --secondayGrey: #ccc;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
  --nav-width: 300px;
}

body {
  font-family: "iranyekan";
  color: var(--mainBlack);
  background-color: rgb(65, 64, 64);
  /* background-color: var(--bodyColor); */
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}
.main-layout {
  display: flex;
  flex-direction: row-reverse;
}
.nav {
  height: 100vh;
  width: var(--nav-width);
  background-color: rgb(34, 33, 33);
  padding: 0.5rem;
  position: sticky;
  top: 0;
  right: 0;
}
.nav li {
  margin: 5px 0;
}
.nav__link {
  text-decoration: none;
  color: rgb(177, 175, 175);
  display: block;
  padding: 12px 8px;
  transition: all 0.3s ease-out;
}
.nav__link:hover {
  background-color: rgb(64, 64, 64);
  color: white;
  border-radius: 1.5rem;
}
#app {
  height: 200vh;
  padding: 1rem;
}
