@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGray: #7c7c7c;
  --mainRed: #db2727;
  --bodyColor: #f6f6f6;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

body {
  color: var(--mainBlack);
  font-family: "Lato", "sans-serif";
  background-color: var(--bodyColor);
  position: relative;
}

.navbar {
  background-color: var(--secondaryColor);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-center {
  padding: 0 1rem;
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  color: var(--primaryColor);
  cursor: pointer;
}
.nav-title {
  color: var(--mainBlack);
}
.cart-btn {
  color: var(--primaryColor);
  position: relative;
  cursor: pointer;
}
.cart-btn i,
.menu-icon i {
  font-size: 1.5rem;
}
.cart-items {
  position: absolute;
  background-color: var(--mainRed);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainWhite);
  top: -8px;
  right: -8px;
  font-size: 0.765rem;
}

/* end of navbar */
.section-title {
  /* background-color: #6d28d9; */
  margin: 2rem 0;
}
.products {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #7c7c7c; */
}
.products-center {
  width: 100%;
  max-width: 1170px;
  /* background-color: pink; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 3.5rem;
}
.product {
  background-color: var(--mainWhite);
  padding-bottom: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-img {
  min-height: 120px;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.product-desc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}
.add-to-cart {
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  font-weight: bold;
  padding: 10px 25px;
  margin-top: 1rem;
  cursor: pointer;
}
/*-------- cart modal styles  --------*/

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 10;
  backdrop-filter: blur(3px);
}
.hidden {
  display: none;
}
.cart {
  z-index: 20;
  position: absolute;
  padding: 1rem;
  width: 500px;
  min-width: 0rem;
  border: 1px solid wheat;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.cart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.cart-item {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.cart-item-img {
  width: 100px;
  border-radius: 3px;
}
.cart-item-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cart-item-desc p {
  padding: 5px 0;
}
.cart-item-desc {
  font-weight: bold;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-row-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fa-angle-up {
  color: var(--primaryColor);
  font-weight: bold;
  cursor: pointer;
}
.fa-angle-down {
  color: var(--mainRed);
  font-weight: bold;
  cursor: pointer;
}
.cart-footer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart-footer button {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 14px;
}
.cart-item-confirm {
  background-color: #6c28d993;
}
.clear-cart {
  border: 1px solid var(--primaryColor) !important;
}
.fa-trash {
  cursor: pointer;
}
.fa-trash:hover {
  color: var(--mainRed);
}
